// Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

// apply a natural box layout model to all elements
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* the columns inside a row are all floating to the left, and are therefore taken out of the flow of
the page, and other elements will be placed as if the columns do not exist.
To prevent this, we will add the style that clears the flow. */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
// apply these rules to all classes that begin with 'col-'
[class*="col-"] {
  float: left;
  padding: 15px;
}

//grid system for mobiles phones
.col-sm-1 {
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: transparent;
  overflow-x: hidden;
}

* {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Lobster', cursive;
  color: $magenta;
  font-size: 3.7rem;
  font-weight: 600;
  margin: $gutter $gutter;
}

h2 {
  color: $white;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 1.6px;
  margin: 4% 5%;
}

h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: $white;
  font-weight: 400;
  margin: $gutter $gutter;
}

h4 {
  color: $blue;
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  padding: 20px 0;
  margin: 4% 5%;
}

p {
  color: $blue;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-align: left;
  line-height: 140%;
  margin: 4% 5%;
}

.subtitle {
  text-transform: uppercase;
  color: $blue;
  font-weight: 300;
  margin: 0 60px;
  padding-top: 15px;
}

hr {
  max-width: 50%;
  margin: 1em auto;
  padding-bottom: 20px;
  border-top: 1px solid $white;
}
a {
  text-decoration: none;
  cursor: pointer;
}
// SLANTED DIVS
.container {
  box-sizing: border-box;
  overflow: hidden;
}
.triangle {
  background-color: transparent;
  width: 0;
  height: 0;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 500ms;
  cursor: pointer;
  &:hover {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-top: 40px solid transparent;
    bottom: -20px;
  }
}

.logo {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  float: left;
  font-family: 'Lobster', cursive;
  font-size: 2.4rem;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 500ms ease-out;
  transition: color 500ms ease-out;
  &:hover {
    color: $magenta;
  }
}

.link {
  @extend p;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}

.icon {
  width: 40px;
  height: 40px;
  position: relative;
  background-color: $white
}
.picture {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* RESPONSIVE FONT SIZES*/
@media all and (min-width: 1480px) {
  body{
    font-size: 19px;
  }
}
@media all and (max-width: 1480px) {
  body{
    font-size: 18px;
  }
}
@media all and (max-width: 1380px) {
  body{
    font-size: 17px;
  }
}
@media all and (max-width: 1180px) {
  body{
    font-size: 16px;
  }
}
@media all and (max-width: 1080px) {
  body{
    font-size: 15px;
  }
  p {
    font-size: 1em;
  }
}
@media all and (max-width: 980px) {
  body{
    font-size: 14px;
  }
  p {
    font-size: 1.1em;
    line-height: 1.4em;
  }
}
@media all and (max-width: 680px) {
  body{
    font-size: 13px;
  }
  p {
    font-size: 1.1em;
    line-height: 1.4em;
  }
}
