@import "colors"; 

// Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

// apply a natural box layout model to all elements
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* the columns inside a row are all floating to the left, and are therefore taken out of the flow of
the page, and other elements will be placed as if the columns do not exist.
To prevent this, we will add the style that clears the flow. */
.row::after {
    content:"";
    clear: both; 
    display: table; 
}

[class*="col-"] {
    width: 100%;
}

[class*="col-"] {
    float: left; 
    padding: 15px; 
}


* {
    font-size: 16px; 
    font-family: 'Source Sans Pro', sans-serif;
}

#gutter {
    margin: 0 2%; 
}


/* -------------------------------NAVBAR-------------------------------*/

  /* header */
  
  .header {
    background-color: $grey; 
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    a {
        color: $white; 
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: $grey;
    }
    li a {
        display: block;
        padding: 30px 30px;
        text-align: center; 
        font-size: 2.8rem;
        font-weight: 400; 
        text-decoration: none;
        &:hover {
            color: $magenta; 
            font-weight: 300; 
        }
    }
    .logo {
        display: block;
        float: left;
        font-size: 1.8rem;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 900;  
        &:hover {
            color: $magenta; 
        }
    } 
  }
  
  
  /* menu */
    .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
    .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    &:hover {
        color: $magenta; 
    }
  }
  
  .header .menu-icon .navicon {
    background: $white;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: $white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: background-color .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
    .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 800px;
  }

//   .menu-btn:checked > li:first-child a {
//       padding-top: 100px; 
//   }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }


/* -------------------------------HEADER-------------------------------*/

.background {    
    z-index: 0; 
    position: absolute;
    top: 0;
    left: 0; 
    height: 100%;
    width: 100%;
    background-image: url(../photos/backgroundDark520.jpg); 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover; 

}

.layer { 
    position: absolute; 
    height: 100%;
    width: 100%; 
    top: 0;   
    left: 0;      
    z-index: 1; 
    div {
        position: fixed; 
        width: 100%;
        top: 0; 
    }
    .title {        
        text-align: center; 
        letter-spacing: 2px; 
    }
    #title1 {
        text-transform: uppercase;
        color: $white;
        font-weight: 600; 
        margin-top: 70%; 
    }
    #title2 {
        color: $magenta; 
        font-size: 3rem; 
        font-weight: 700;
    }
    #title3 {
        text-transform: uppercase; 
        color: $blue;
        font-weight: 200; 
        margin: 0 60px;  
    }
  

}