$gutter: 2%;

// colors
$grey: #1d2028;
$grey-opaque: rgba(29, 32, 40, 0.7);
$black: #191c23;
$white: #ffffff;
$magenta: #f9225b;
$magenta-opaque: rgba(249, 34, 91, 0.7);
$blue: #7a89ab;
$green: #96c577;
$green-opaque: rgba(150, 197, 119, 0.7);
$light: #ebeced;


// fonts
